
html,body,.runnable_root {
    height:100%;
}

body {
    font: 14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  color: #428bca;
}

a {
  color: #428bca;
}

/* start index page sections */
section {
    padding-top:5px;
    padding-bottom:50px;
    min-height:calc(100% - 1px);
}

section.imgback {
    background:center no-repeat fixed url('/img/home.jpg');
    background-size: cover;
    width: 100%;
}

section.itineraire {
    color:#686868 !important;
}

section.course {
    color:#00B7FF !important;
}

section.fonctionnement {
    color:#444 !important;
    background: #ffffff;
}

section.apropos a {
    color:#f5f5f5;
}
/* stop index page sections */

.table-no-border {
    margin-bottom: 0;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
	border-top: none;
	padding: 5px;
}

/* Message user Inbox */
.fixed-panel {
    min-height: 270px;
    max-height: 270px;
    overflow-y: scroll;
}

.green {
	color: green;
}

.red {
	color: red;
}

/* Index depend on user logged or not */
.text_img_with_shadow {
    color: #fff;
    padding-top: 10%;
    font-size: 50px;
    text-shadow: 2px 2px 8px #494949;
}

.text_img_auth_with_shadow {
    color: #fff;
    padding-top: 18%;
    font-size: 50px;
    text-shadow: 2px 2px 8px #494949;
}
/* end of Index depend on user logged or not */

/* Main texte of section */
.text-with-shadow {
    color: #fff;
    padding-top: 2%;
    font-size: 50px;
    text-shadow: 2px 2px 8px #494949;
}

.text-without-shadow {
    color: #428bca;
    padding-top: 2%;
    font-size: 50px;
}
/* end of Main texte of section */

/* Social icon on Index page */
.social_icon {
    color: #fff;
    text-shadow: 2px 2px 8px #494949;
}

/* Icon in Navbar */
.icon-bar {
    background-color:#fff;
}

/* All page to move down the begining of the page */
.spacehead {
	padding-top: 70px;
	padding-bottom: 25px;
}

/* Space after in journey form ????? */
.spacedown {
	padding-bottom: 50px;
}

/* Picture in navbar for logged user */
.picthome {
	margin-top: 10px;
}

/* Navbar ??? already in bootstrap */
.navbar {
    background-color: #fff;
    border-bottom: thin solid #ccc;
}

.navbar a {
    color: #428bca;
    font: 16px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a.list-group-item.active,[class*='-info'] {
    background-color: #494437;
    color:#fff;
}
/* end of Navbar ??? already in bootstrap */

/* Inscription form ??? */
.inscription-form {
    margin-top: 15%;
}

.inscription-form-group {
    margin-bottom: 5px;
}

.inscription-form-left {
    padding-right: 5px;
}

.inscription-form-right {
    padding-left: 5px;
}
/* Inscription form ??? */

/* User profile picture */
.user_avatar {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
}

/* User public profile picture */
.img-user-public {
    width: 140px;
}

/* Admin */
.htmlEditor {
    height: 500px !important;
}
/* End of Admin */

/* Home comments and mail panel */
.home_panel {
    margin-top: 40px;
    height: 350px;
    padding: 10px 10px 10px 10px;
    background-color: #f5f5f5;
}

/* Run poster */
.run_poster_home {
	padding-bottom: 20px;
}

.run_poster {
	padding-bottom: 20px;
	width: 20%;
}

.run_list {
	padding-top: 30px;
	padding-bottom: 30px;
}

.run_img {
	width: 100%;
	height: 100%;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
    background-color: #f0f0f0;
}

.run_title {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 15px;
	font-weight: bold;
	background-color: white;
	text-align: center;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.run_desc {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 2px;
    background-color: white;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	color: black;
}

.run_advanced_search {
    margin-top: 15px;
}

.run_advanced_search_city {
    width: 280px !important;
}

.run_advanced_search_distance {
    width: 70px !important;
}

.run_noresult {
	font-size: large;
}

/* Journey poster */
.journey_poster_home {
	padding-bottom: 20px;
}

.journey_poster {
	padding-bottom: 20px;
	width: 20%;
}

.journey_list {
	padding-top: 30px;
	padding-bottom: 30px;
}

.journey_map {
	width: 100%;
	height: 179px;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.journey_title {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 15px;
	font-weight: bold;
	background-color: white;
	text-align: center;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.journey_desc {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 2px;
    background-color: white;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
	color: black;
}

.journey_head_price {
	margin-top: 10px;
}

.journey_price {
	font-size: 20px;
	font-weight: bold;
	color: green;
}

.journey_price_journey {
	font-size: 36px;
	font-weight: bold;
	color: green;
	margin-top: 5px;
}

.journey_table {
	margin-bottom: 5px;
}

.my_journey_more {
	margin-top: 15px;
}

div.journey_price_journey {
    padding-right: 0;
}

.journey_space_positive {
	font-size: 15px;
	font-weight: bold;
	color: dodgerblue;
}

.journey_space_zero {
	font-size: 15px;
	font-weight: bold;
	color: red;
}
/* stop journey */

/* Discussion */
.discussion_tab {
	padding: 15px;
}

.discussion_board {
	max-height: 400px;
    overflow-y:auto;
}

.discussion_message_panel {
	margin-bottom: 10px;
	text-align: left;
}

.discussion_message {
	padding: 2px;
}

.discussion_message_text {
	text-align: left;
}

.discussion_message_info {
	color: #808080;
}

.img-user-discussion {
    width: 35px;
    height: 35px;
}
/* end of Discussion */


/* File selector*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
/* end of file selector */

/* Google maps */
.map {
	min-height: 400px;
	background-color: #CCC;
	margin-bottom: 20px;
}

.map_run {
	min-height: 600px;
	background-color: #CCC;
	margin-bottom: 20px;
}
/* end of Google maps */

.profile {
	margin-top: 20px;
	margin-bottom: 35px;
}

/* Inivite */
.invite_margin {
	margin-bottom: 15px;
}

.invite_email {
	width: 480px;
}

.invite_message_label {
	width: 480px;
}

.invite_message {
	width: 480px !important;
	height: 150px !important;
}
/* end of Invite */

/* ITRA palmares representation */
table.palmares {
	margin-top: 20px;
	margin-bottom: 35px;
}

table.palmares .odd {
	background-color:#eee;
}

table.palmares h2 {
	color:#97BE0D;
	padding-left:0;
	text-transform:none;
	font-size: 20px;
	font-weight: bold;
	font-family: arial,sans-serif;
}

table.palmares h3 {
	margin:10px 0 2px 0;
	border-bottom:1px solid #444444;
}
/* end of ITRA palmares representation */

/* Footer */
footer {
    background-color:#ffffff;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-top: thin solid #ccc;
}

footer .logo {
    height: 100px;
}

footer .icon {
    width: 30px;
}

footer .titre {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #428bca;
}

footer .nav>li>a {
    padding: 3px;
    color: black;
}

footer .nav>li>a:hover {
    background-color:transparent;
    color: black;
}
/* end of Footer*/