@import '../lib/bootstrap/less/bootstrap.less';

/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max) {
  @import 'main';

  /* variables definition */
  @index_font_size: 26px;
  @journey_font_size: 16px;

  .text_img_with_shadow {
    color: @text_index;
    padding-top: 27%;
    font-size: @index_font_size;
    text-shadow: @text_shadow;
  }

  .text_img_auth_with_shadow {
    color: @text_index;
    padding-top: 60%;
    font-size: @index_font_size;
    text-shadow: @text_shadow;
  }

  .text-with-shadow {
    color: @text_index;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: @index_font_size;
    text-shadow: @text_shadow;
  }

  .text-without-shadow {
    color: @text;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: @index_font_size;
  }

  .icon_list {
    margin-bottom: 20px;
  }

  // block definition
  .block_inside {
    .main_block_inside;
  }

  // Run list page
  .run_list {
    .noresult {
      font-size: 11px;
    }
  }

  .map {
    min-height: 400px;
    margin-bottom: 20px;
  }

  // Run detail specification
  .run_detail {
    .panel-heading, .panel-body {
      padding: 3px 0px;
    }
    .panel-body p {
      margin: 0 0 5px;
    }
    .panel-heading h3 {
      font-size: 20px;
    }
    .btn-group-sm {
      .pull-left();
    }
    .btn-group-sm .btn {
      font-size: 8px;
    }
  }

  .run_journey_info {
    font-size: 12px;
    .no_journey {
    }
    .panel-title div {
      font-size: 12px;
      a, a:hover {
        text-decoration: none;
        color: black;
      }
    }
    .journey_space_positive, .journey_space_zero {
      font-size: 12px;
    }
    .journey_price {
      font-size: 14px;
    }
  }

  // My Journey
  .my_journey {
    .panel, .panel-title {
      font-size: 12px;
    }
    .panel-heading {
      div {
        padding-right: 0px;
        padding-left: 0px;
      }
    }
    .panel-body {
      padding-right: 0px;
      padding-left: 0px;
    }
    .all_panel {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  // Modal Journey
  .modal_journey {
    .panel, .panel-title {
      font-size: 12px;
    }
    .panel-heading, .panel-body {
      padding: 10px;
    }
    .price {
      .pull-left();
    }
    .discussion_message_info {
      font-size: 9px;
    }
  }

  // Modal Journey Validation
  .modal_journey_validation {
    font-size: 12px;
  }

  // Journey detail
  .journey_detail {
    .journey_head {
      padding: 0px;
    }
    h2 {
      font-size: @journey_font_size;
      margin: 5px;
      color: @text;
    }
    .journey_detail_panel {
      padding: 2px;
      div {
        padding: 2px;
      }
    }
    .journey_price {
      font-size: @journey_font_size;
      font-weight: bold;
      color: green;
      margin: 5px;
      .pull-left();
    }
    .journey_type_parent {
      padding: 0px;
    }
    hr {
      margin: 5px;
    }
  }

  // user public profil
  .public_profil {
    .img-user-public {
      width: 90px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h5 {
      font-size: 11px;
    }
  }

  // User inbox
  .inbox {
    h4 {
      font-size: 11px;
    }
    .fixed-panel {
      min-height: 175px;
      max-height: 175px;
      overflow-y: scroll;
    }
  }

  // User invitation
  .invite {
    .width {
      width: 268px;
    }
  }

  // User profile
  .user_profile {
    .avatar {
      width: 250px;
      margin-left: 0px;
    }
    div {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  // Create journey
  .journey_save {
    div {
      padding-left: 0px;
      padding-right: 0px;
    }
    h2 {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .input-group {
      margin-bottom: 15px;
    }
  }
  // Footer specificity
  footer {
    .logo {
      .center-block();
    }
  }
}
