<div ng-include="'partials/nav'"></div>
<div class="container-fluid body" ng-controller="RunnableAdminController">
    <div class="row-fluid admin">
        <div class="col-xs-12 col-sm-12 col-md-12">
            My Run Trip version : {{version}}
        </div>
		<tabset>
			<tab heading="Utilisateurs ({{nbUser}})">
				<button class="btn btn-primary" ng-click="exportUsers()">Export</button>
				<div id="usertab" class="col-sm-12 user">
					<table class="table userlist">
						<thead>
							<tr>
								<th>Prénom</th>
								<th>Nom</th>
								<th>Email</th>
								<th>Adresse</th>
								<th>Provider</th>
								<th>Itra Code</th>
								<th>Active</th>
								<th>Role</th>
								<th>Création</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody ng-repeat="user in userList">
							<tr>
								<td>{{user.firstname}}</td>
								<td>{{user.lastname}}</td>
								<td>{{user.email}}</td>
								<td>{{user.address}}</td>
								<td>{{user.provider}}</td>
								<td>{{user.itra}}</td>
								<td>
									<span class="glyphicon glyphicon-ok green" ng-if=user.isActive ng-click=userToggleActive(user)></span>
									<span class="glyphicon glyphicon-remove red" ng-if=!user.isActive ng-click=userToggleActive(user)></span>
								</td>
								<td>{{user.role}}</td>
								<td>{{user.createdAt | date:'dd/MM/yyyy'}}</td>
								<td>
									<span class="glyphicon glyphicon-pencil" ng-click=userEdit(user)></span>
									<span class="glyphicon glyphicon-trash" ng-click=userTrash($index)></span>
									<span class="glyphicon glyphicon-random" ng-click=userResetPassword(user)></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab heading="Courses">
				<table class="col-sm-12 user">
					<table class="table runlist">
						<tr>
							<th>Nom</th>
							<th>Type</th>
							<th>Lieu départ</th>
							<th>Date</th>
							<th>Heure</th>
							<th>Distance(s)</th>
							<th>Elévation(s)</th>
							<th>Active</th>
							<th>Création</th>
							<th>Actions</th>
						</tr>
						<tbody ng-repeat="run in runList">
							<tr>
								<td><a href="/run-{{run.id}}">{{run.name}}</a></td>
								<td>{{run.type}}</td>
								<td>{{run.address_start}}</td>
								<td>{{run.date_start | date:'dd/MM/yyyy'}}</td>
								<td>{{run.time_start}}</td>
								<td>{{run.distances}}</td>
								<td>{{run.elevations}}</td>
								<td>
									<span class="glyphicon glyphicon-ok green" ng-if=run.is_active ng-click=runToggleActive(run)></span>
									<span class="glyphicon glyphicon-remove red" ng-if=!run.is_active ng-click=runToggleActive(run)></span>
								</td>
								<td>{{run.createdAt | date:'dd/MM/yyyy'}}</td>
								<td>
									<a href="/run-update-{{run.id}}"><i class="fa fa-pencil-square-o"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</table>
			</tab>
			<tab heading="Itinéraires">
				<table class="col-sm-12 user">
					<table class="table journeyList">
						<tr>
							<th>Course</th>
							<th>Type parcours</th>
							<th>Lieu départ</th>
							<th>Date Aller</th>
							<th>Heure Aller</th>
							<th>Nb de place Aller</th>
							<th>Date Retour</th>
							<th>Heure Retour</th>
							<th>Nb de place Retour</th>
							<th>Distance</th>
							<th>Duration</th>
							<th>Type de voiture</th>
							<th>Montant</th>
							<th>Création</th>
							<th>Active</th>
							<th>Actions</th>
						</tr>
						<tbody ng-repeat="journey in journeyList">
						<tr>
							<td><a href="/run-{{journey.Run.id}}">{{journey.Run.name}}</a></td>
							<td>{{journey.address_start}}</td>
							<td>{{journey.journey_type}}</td>
							<td>{{journey.date_start_outward | date:'dd/MM/yyyy'}}</td>
							<td>{{journey.time_start_outward}}</td>
							<td>{{journey.nb_space_outward}}</td>
							<td>{{journey.date_start_return | date:'dd/MM/yyyy'}}</td>
							<td>{{journey.time_start_return}}</td>
							<td>{{journey.nb_space_return}}</td>
							<td>{{journey.distance}}</td>
							<td>{{journey.duration}}</td>
							<td>{{journey.car_type}}</td>
							<td>{{journey.amount | currency:'€ '}}</td>
							<td>{{journey.createdAt | date:'dd/MM/yyyy'}}</td>
							<td>
								<span class="glyphicon glyphicon-ok green" ng-if=!journey.is_canceled ng-click=journeyCancel(journey)></span>
								<span class="glyphicon glyphicon-remove red" ng-if=journey.is_canceled></span>
							</td>
							<td>
								<a href="/journey-update-{{journey.id}}"><i class="fa fa-pencil-square-o"></i></a>
								<i class="fa fa-credit-card" ng-click="openJourneyAction(journey)"></i>
							</td>
						</tr>
						</tbody>
					</table>
				</table>
			</tab>
			<tab heading="Parcours">
				<table class="col-sm-12 user">
					<table class="table journeyList">
						<tr>
							<th>Utilisateur</th>
							<th>Course</th>
							<th>Lieu départ</th>
							<th>Nb de place Aller</th>
							<th>Nb de place Retour</th>
							<th>Montant</th>
							<th>Fees</th>
							<th>Statut</th>
							<th>Paiement</th>
							<th>Ref Paiement</th>
						</tr>
						<tbody ng-repeat="join in joinList">
						<tr>
							<td>{{join.User.email}}</td>
							<td><a href="/run-{{join.Journey.Run.id}}">{{join.Journey.Run.name}}</a></td>
							<td><a href="/journey-{{join.Journey.id}}">{{join.Journey.address_start}}</a></td>
							<td>{{join.nb_place_outward}}</td>
							<td>{{join.nb_place_return}}</td>
							<td>{{join.Invoice.amount | currency:'€ '}}</td>
							<td>{{join.Invoice.fees | currency:'€ '}}</td>
							<td class="status-{{join.Invoice.status}}">{{join.Invoice.status}}</td>
							<td>{{join.Invoice.createdAt | date:'dd/MM/yyyy'}}</td>
							<td>{{join.Invoice.ref}}</td>
						</tr>
						</tbody>
					</table>
				</table>
			</tab>
            <tab heading="Partenaires">
                <div class="form-group">
                    <div class="input-group">
                        <div class="btn btn-primary" ng-click="switchPartner()">Nouveau</div>
                    </div>
                </div>
                <div class="newPartner" ng-if="partnerCreation">
                    <div class="col-xs-6 col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="sr-only" for="partnerName">Nom du partenariat</label>
                            <input type="text" class="form-control" id="partnerName"
                                   ng-model="newPartner.name" placeholder="Nom" required>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="newPartner.user" placeholder="Contact partenaire"
                                   typeahead="user as user.name for user in userNameList | filter:{name:$viewValue}"
                                   id="user" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="PartnerFee">Frais (en %)</label>
                            <div class="input-group">
                                <div class="input-group-addon">%</div>
                                <input type="text" class="form-control" id="PartnerFee"
                                       ng-model="newPartner.fee" placeholder="Frais (%)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'expiry')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <div class="form-group">
                                    <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                                           ng-model="newPartner.expiry" is-open="calendar.opened.expiry"
                                           min-date="today" datepicker-options="calendar.dateOptions" close-text="Fermer"
                                           data-toggle="tooltip" data-placement="bottom"
                                           title="Date d'expiration" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-success btn-block" ng-click="createPartner(newPartner)">Créer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Nom</th>
                            <th>Expiration</th>
                            <th>Frais (%)</th>
                            <th>Création</th>
                            <th>Token</th>
                            <th>Contact</th>
                        </tr>
                        <tbody ng-repeat="partner in partnersList">
                        <tr>
                            <td>{{partner.name}}</td>
                            <td>{{partner.expiry | date:'dd/MM/yyyy'}}</td>
                            <td>{{partner.fee}}</td>
                            <td>{{partner.createdAt | date:'dd/MM/yyyy'}}</td>
                            <td>{{partner.token}}</td>
                            <td>{{partner.User.email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </table>
            </tab>
			<tab heading="Email">
				<h2>Templates email</h2>
				<select class="form-control" ng-model="template"  ng-form="subForm"
						ng-options="email.name for email in emailOption.emailTemplate">
				</select>
				<span>{{template.key}}</span>
				<input type="text" ng-form="subForm" ng-model="template.title" class="form-control">
				<textarea ng-form="subForm" ng-model="template.html" class="form-control optionsEmailTemplate">
					{{template.html}}
				</textarea>
				<h2>Configuration email</h2>
				<div role="form" ng-form="emailConfigForm">
					<div class="form-group">
						<label for="email_host">Email host</label>
						<input type="text" class="form-control input-sm" id="email_host"
							   placeholder="Enter host" ng-model="emailOption.mailConfig.host">
					</div>
					<div class="form-group">
						<label for="email_user">Email Account User</label>
						<input type="text" class="form-control input-sm" id="email_user"
							   placeholder="Entrer user" ng-model="emailOption.mailConfig.user">
					</div>
					<div class="form-group">
						<label for="email_password">Email Account Password</label>
						<input type="password" class="form-control input-sm" id="email_password"
							   placeholder="Entrer password" ng-model="emailOption.mailConfig.password">
					</div>
					<div class="form-group">
						<label for="email_transport">Email Transport</label>
						<input type="text" class="form-control input-sm" id="email_transport"
							   placeholder="Entrer transport" ng-model="emailOption.mailConfig.transport">
					</div>
					<div class="form-group">
						<label for="email_from">Email Default Origin</label>
						<input type="text" class="form-control input-sm" id="email_from"
							   placeholder="Entrer email origin" ng-model="emailOption.mailConfig.from">
					</div>
					<div class="form-group">
						<label for="email_to">Email Default Destination</label>
						<input type="text" class="form-control input-sm" id="email_to"
							   placeholder="Entrer email destination" ng-model="emailOption.mailConfig.to">
					</div>
					<div class="form-group">
						<label for="email_bcc">Email Default BCC</label>
						<input type="text" class="form-control input-sm" id="email_bcc"
							   placeholder="Entrer email bcc" ng-model="emailOption.mailConfig.bcc">
					</div>
					<div class="form-group">
						<label for="email_send">Send Email ?</label>
						<input type="checkbox" id="email_send" ng-model="emailOption.mailConfig.send">
					</div>
				</div>
				<button type="button" class="btn btn-default"
					ng-click="submitEmailOptions(emailOption)">
					Save
				</button>
			</tab>
			<tab heading="Pages">
				<h2>Pages</h2>
				<form class="form-inline">
					<div class="form-group">
						<select class="form-control" ng-model="pageName"  ng-form="subForm"
							ng-options="pageEdit.title for pageEdit in pageList">
						</select>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" ng-click="editPage(pageName)">
							Editer
						</button>
					</div>
				</form>
				<hr/>
				<h2>Ajouter une nouvelle page</h2>
				<form class="form-inline" name="cPForm">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="createPageForm.newPageName">
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-success" ng-click="createPage()">
							Créer
						</button>
					</div>
				</form>
			</tab>
		</tabset>
	</div>
	<div ng-include="'partials/modal_user_edit'"></div>
	<div ng-include="'partials/modal_edit_page'"></div>
	<div ng-include="'partials/modal_admin_journey_action'"></div>
</div>

<div ng-include="'partials/footer'"></div>
