<div ng-include="'partials/nav'"></div>
<div class="container-fluid body" ng-controller="RunnableAdminController">
    <div class="row-fluid admin">
        <div class="col-xs-12 col-sm-12 col-md-12">
            My Run Trip version : {{version}}
        </div>
		<tabset>
            <tab heading="Dashboard">
                <div id="dashboard_tab" class="col-md-12 dashboard">
                    <div class="col-md-12 toPay">
                        <h2>Le(s) paiement(s) à venir</h2>
                        <table class="table userlist">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Email</th>
                                    <th>Voyage</th>
                                    <th>Montant</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="toPay in journeyToPay">
                                <tr>
                                    <td><a href="/run-{{toPay.Run.id}}">{{toPay.Run.name}}</a></td>
                                    <td>{{toPay.User.email}}</td>
                                    <td>{{toPay.nbJourney}} / {{toPay.nbValidatedJourney}}</td>
                                    <td>{{toPay.amountToPay | currency:'€ '}}</td>
                                    <td>{{toPay.dateToPay}}</td>
                                    <td>
                                        <i class="fa fa-credit-card" ng-click="openJourneyAction(toPay, $index)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </tab>
			<tab heading="Utilisateurs ({{userList.length}})">
				<button class="btn btn-primary" ng-click="exportUsers()">Export</button>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="userSearch.text" placeholder="Information utilisateur"
                               id="userTextSearch" class="form-control">
                    </div>
                </form>
				<div id="usertab" class="col-sm-12 user">
					<table class="table userlist">
						<thead>
							<tr>
								<th>Prénom</th>
								<th>Nom</th>
								<th>Email</th>
								<th>Adresse</th>
								<th>Provider</th>
								<th>Itra Code</th>
								<th>Active</th>
								<th>Role</th>
								<th>Création</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody ng-repeat="user in userList | filter:userSearch.text">
							<tr>
								<td>{{user.firstname}}</td>
								<td>{{user.lastname}}</td>
								<td>{{user.email}}</td>
								<td>{{user.address}}</td>
								<td>{{user.provider}}</td>
								<td>{{user.itra}}</td>
								<td>
									<span class="glyphicon glyphicon-ok green" ng-if=user.isActive ng-click=userToggleActive(user)></span>
									<span class="glyphicon glyphicon-remove red" ng-if=!user.isActive ng-click=userToggleActive(user)></span>
								</td>
								<td>{{user.role}}</td>
								<td>{{user.createdAt | date:'dd/MM/yyyy'}}</td>
								<td>
									<span class="glyphicon glyphicon-pencil" ng-click=userEdit(user)></span>
									<span class="glyphicon glyphicon-trash" ng-click=userTrash($index)></span>
									<span class="glyphicon glyphicon-random" ng-click=userResetPassword(user)></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab heading="Courses ({{runList.length}})">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="runSearch.name" placeholder="Nom de la course"
                               id="runNameSearch" class="form-control">
                    </div>
                </form>
				<table class="col-sm-12 user">
                    <table class="table runlist">
						<tr>
							<th>Nom</th>
							<th>Type</th>
							<th>Lieu départ</th>
							<th>Date</th>
							<th>Heure</th>
							<th>Distance(s)</th>
							<th>Elévation(s)</th>
							<th>Active</th>
							<th>Création</th>
							<th>Actions</th>
						</tr>
						<tbody ng-repeat="run in runList | filter:{name: runSearch.name}">
							<tr>
								<td><a href="/run-{{run.id}}">{{run.name}}</a></td>
								<td>{{run.type}}</td>
								<td>{{run.address_start}}</td>
								<td>{{run.date_start | date:'dd/MM/yyyy'}}</td>
								<td>{{run.time_start}}</td>
								<td>{{run.distances}}</td>
								<td>{{run.elevations}}</td>
								<td>
									<span class="glyphicon glyphicon-ok green" ng-if=run.is_active ng-click=runToggleActive(run)></span>
									<span class="glyphicon glyphicon-remove red" ng-if=!run.is_active ng-click=runToggleActive(run)></span>
								</td>
								<td>{{run.createdAt | date:'dd/MM/yyyy'}}</td>
								<td>
									<a href="/run-update-{{run.id}}"><i class="fa fa-pencil-square-o"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</table>
			</tab>
			<tab heading="Itinéraires ({{journeyList.length}})">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="journeyRunSearch.name" placeholder="Nom de la course"
                               id="journeyRunNameSearch" class="form-control">
                    </div>
                </form>
                <table class="col-sm-12 user">
					<table class="table journeyList">
						<tr>
							<th>Course</th>
							<th>Type parcours</th>
							<th>Lieu départ</th>
							<th>Date Aller</th>
							<th>Heure Aller</th>
							<th>Nb de place Aller</th>
							<th>Date Retour</th>
							<th>Heure Retour</th>
							<th>Nb de place Retour</th>
							<th>Distance</th>
							<th>Duration</th>
							<th>Type de voiture</th>
							<th>Montant</th>
							<th>Création</th>
							<th>Active</th>
							<th>Actions</th>
						</tr>
						<tbody ng-repeat="journey in journeyList | filter: {Run: {name: journeyRunSearch.name}}">
						<tr>
							<td><a href="/run-{{journey.Run.id}}">{{journey.Run.name}}</a></td>
							<td>{{journey.address_start}}</td>
							<td>{{journey.journey_type}}</td>
							<td>{{journey.date_start_outward | date:'dd/MM/yyyy'}}</td>
							<td>{{journey.time_start_outward}}</td>
							<td>{{journey.nb_space_outward}}</td>
							<td>{{journey.date_start_return | date:'dd/MM/yyyy'}}</td>
							<td>{{journey.time_start_return}}</td>
							<td>{{journey.nb_space_return}}</td>
							<td>{{journey.distance}}</td>
							<td>{{journey.duration}}</td>
							<td>{{journey.car_type}}</td>
							<td>{{journey.amount | currency:'€ '}}</td>
							<td>{{journey.createdAt | date:'dd/MM/yyyy'}}</td>
							<td>
								<span class="glyphicon glyphicon-ok green" ng-if=!journey.is_canceled ng-click=journeyCancel(journey)></span>
								<span class="glyphicon glyphicon-remove red" ng-if=journey.is_canceled></span>
							</td>
							<td>
								<a href="/journey-update-{{journey.id}}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
				</table>
			</tab>
			<tab heading="Parcours ({{joinList.length}})">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="joinSearch.email" placeholder="Email utilisateur"
                               id="joinSearchEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" ng-model='joinSearch.completed' ng-checked="true" /> Completed
                        <input type="checkbox" ng-model='joinSearch.pending' /> Pending
                        <input type="checkbox" ng-model='joinSearch.cancelled' /> Cancelled
                        <input type="checkbox" ng-model='joinSearch.refused' /> Refused
                        <input type="checkbox" ng-model='joinSearch.refunded' /> Refunded
                    </div>
                </form>
				<table class="col-sm-12 user">
					<table class="table journeyList">
						<tr>
							<th>Utilisateur</th>
							<th>Course</th>
							<th>Lieu départ</th>
							<th>Nb Aller</th>
							<th>Nb Retour</th>
							<th>Montant</th>
							<th>Fees</th>
							<th>Statut</th>
							<th>Paiement</th>
							<th>Ref Paiement</th>
							<th>Actions</th>
						</tr>
						<tbody ng-repeat="join in joinList | filter: {User: {email: joinSearch.email}} | joinAdmin:joinSearch">
						<tr>
							<td>{{join.User.email}}</td>
							<td><a href="/run-{{join.Journey.Run.id}}">{{join.Journey.Run.name}}</a></td>
							<td><a href="/journey-{{join.Journey.id}}">{{join.Journey.address_start}}</a></td>
							<td>{{join.nb_place_outward}}</td>
							<td>{{join.nb_place_return}}</td>
							<td>{{join.Invoice.amount | currency:'€ '}}</td>
							<td>{{join.Invoice.fees | currency:'€ '}}</td>
							<td class="status-{{join.Invoice.status}}">{{join.Invoice.status}}</td>
							<td>{{join.Invoice.createdAt | date:'dd/MM/yyyy'}}</td>
							<td>{{join.Invoice.ref}}</td>
                            <td>
                                <i class="fa fa-thumbs-o-up" ng-if="join.Invoice.status !== 'completed'" ng-click="forceComplete(join)"></i>
                            </td>
                        </tr>
						</tbody>
					</table>
				</table>
			</tab>
            <tab heading="Partenaires ({{partnersList.length}})">
                <div class="form-group">
                    <div class="input-group">
                        <div class="btn btn-primary" ng-click="switchPartner()">Nouveau</div>
                    </div>
                </div>
                <div class="newPartner" ng-if="partnerCreation">
                    <div class="col-xs-6 col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="sr-only" for="partnerName">Nom du partenariat</label>
                            <input type="text" class="form-control" id="partnerName"
                                   ng-model="newPartner.name" placeholder="Nom" required>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="newPartner.user" placeholder="Contact partenaire"
                                   typeahead="user as user.name for user in userNameList | filter:{name:$viewValue}"
                                   id="user" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="PartnerFee">Frais (en %)</label>
                            <div class="input-group">
                                <div class="input-group-addon">%</div>
                                <input type="text" class="form-control" id="PartnerFee"
                                       ng-model="newPartner.fee" placeholder="Frais (%)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'expiry')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <div class="form-group">
                                    <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                                           ng-model="newPartner.expiry" is-open="calendar.opened.expiry"
                                           min-date="today" datepicker-options="calendar.dateOptions" close-text="Fermer"
                                           data-toggle="tooltip" data-placement="bottom"
                                           title="Date d'expiration" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-success btn-block" ng-click="createPartner(newPartner)">Créer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Nom</th>
                            <th>Expiration</th>
                            <th>Frais (%)</th>
                            <th>Création</th>
                            <th>Token</th>
                            <th>Contact</th>
                            <th>Actions</th>
                        </tr>
                        <tbody ng-repeat="partner in partnersList">
                        <tr>
                            <td>{{partner.name}}</td>
                            <td>{{partner.expiry | date:'dd/MM/yyyy'}}</td>
                            <td>{{partner.fee}}</td>
                            <td>{{partner.createdAt | date:'dd/MM/yyyy'}}</td>
                            <td>{{partner.token}}</td>
                            <td>{{partner.User.email}}</td>
                            <td>
                                <span class="glyphicon glyphicon-envelope" ng-click=sendInfoPartner(partner.id)></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </table>
            </tab>
			<tab heading="Email">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h2>Templates email</h2>
                    <i class="fa fa-plus-circle fa-3" ng-click="switchEmailTemplate()" ng-if="!createTemplateEmail"></i>
                    <form class="form-inline" ng-if="createTemplateEmail">
                        <div class="form-group">
                            <label for="templateName">Nom template</label>
                            <input type="text" ng-model="createTpl.name" class="form-control" id="templateName" placeholder="Nom template">
                        </div>
                        <div class="form-group">
                            <label for="templateKeys">Clés</label>
                            <input type="text" ng-model="createTpl.keys" class="form-control" id="templateKeys" placeholder="Clés">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="addTemplateEmail(createTpl)">Ajouter</button>
                    </form>
                    <form>
                        <div class="form-group">
                            <select class="form-control" ng-model="template"  ng-form="subForm"
                                    ng-options="email.name for email in emailOption.emailTemplate">
                            </select>
                        </div>
                        <div class="form-group">
                            <span>{{template.key}}</span>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-form="subForm" ng-model="template.title" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea ng-form="subForm" ng-model="template.html" class="form-control optionsEmailTemplate">
                                {{template.html}}
                            </textarea>
                        </div>
                    </form>
                    <h2>Configuration email</h2>
                    <div role="form" ng-form="emailConfigForm">
                        <div class="form-group">
                            <label for="email_host">Email host</label>
                            <input type="text" class="form-control input-sm" id="email_host"
                                   placeholder="Enter host" ng-model="emailOption.mailConfig.host">
                        </div>
                        <div class="form-group">
                            <label for="email_user">Email Account User</label>
                            <input type="text" class="form-control input-sm" id="email_user"
                                   placeholder="Entrer user" ng-model="emailOption.mailConfig.user">
                        </div>
                        <div class="form-group">
                            <label for="email_password">Email Account Password</label>
                            <input type="password" class="form-control input-sm" id="email_password"
                                   placeholder="Entrer password" ng-model="emailOption.mailConfig.password">
                        </div>
                        <div class="form-group">
                            <label for="email_transport">Email Transport</label>
                            <input type="text" class="form-control input-sm" id="email_transport"
                                   placeholder="Entrer transport" ng-model="emailOption.mailConfig.transport">
                        </div>
                        <div class="form-group">
                            <label for="email_from">Email Default Origin</label>
                            <input type="text" class="form-control input-sm" id="email_from"
                                   placeholder="Entrer email origin" ng-model="emailOption.mailConfig.from">
                        </div>
                        <div class="form-group">
                            <label for="email_to">Email Default Destination</label>
                            <input type="text" class="form-control input-sm" id="email_to"
                                   placeholder="Entrer email destination" ng-model="emailOption.mailConfig.to">
                        </div>
                        <div class="form-group">
                            <label for="email_bcc">Email Default BCC</label>
                            <input type="text" class="form-control input-sm" id="email_bcc"
                                   placeholder="Entrer email bcc" ng-model="emailOption.mailConfig.bcc">
                        </div>
                        <div class="form-group">
                            <label for="email_send">Send Email ?</label>
                            <input type="checkbox" id="email_send" ng-model="emailOption.mailConfig.send">
                        </div>
                    </div>
                    <button type="button" class="btn btn-default"
                        ng-click="submitEmailOptions(emailOption)">
                        Save
                    </button>
                </div>
			</tab>
			<tab heading="Marges">
                <div class="text-center">
                    <div class="text-center col-md-12">
                        <h3><strong>Marge par défaut</strong></h3>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only" for="percentageFee">Pourcentage de marge</label>
                                    <input type="number" class="form-control" id="percentageFee"
                                           ng-model="defaultFee.percentage" placeholder="Pourcentage de marge" required>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only" for="valueFee">Frais fixe</label>
                                    <input type="text" class="form-control" id="valueFee"
                                           ng-model="defaultFee.value" placeholder="Frais Fixe" required>
                                    <span class="input-group-addon">€</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="saveDefaultFee(defaultFee)">
                                    Enregistrer
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h3><strong>Marge par course / utilisateur</strong></h3>
                    </div>
                    <div class="col-md-6">
                        <h3><strong>Code réudction</strong></h3>
                    </div>
                </div>
            </tab>
			<tab heading="Pages">
				<h2>Pages</h2>
				<form class="form-inline">
					<div class="form-group">
						<select class="form-control" ng-model="pageName"  ng-form="subForm"
							ng-options="pageEdit.title for pageEdit in pageList">
						</select>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" ng-click="editPage(pageName)">
							Editer
						</button>
					</div>
				</form>
				<hr/>
				<h2>Ajouter une nouvelle page</h2>
				<form class="form-inline" name="cPForm">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="createPageForm.newPageName">
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-success" ng-click="createPage()">
							Créer
						</button>
					</div>
				</form>
			</tab>
		</tabset>
	</div>
	<div ng-include="'partials/modal_user_edit'"></div>
	<div ng-include="'partials/modal_edit_page'"></div>
	<div ng-include="'partials/modal_admin_journey_action'"></div>
</div>

<div ng-include="'partials/footer'"></div>
