<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2 column">
                <h4 class="titre">My Run Trip &reg;</h4>
                <ul class="nav">
                    <li><a href="#apropos">Nous contacter</a></li>
                    <li><a href="/page-qui-sommes-nous">Qui sommes nous ?</a></li>
                    <li><a href="/page-cgv">Conditions générales</a></li>
                    <li><a href="/page-faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-xs-4 column">
                <h4 class="titre">Nous suivre</h4>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/myruntrip" target="_blank"><img src="/img/icons/facebook.png" class="icon" alt="Facebook"></a></li>
                    <li><a href="https://www.twitter.com/myruntrip" target="_blank"><img src="/img/icons/twitter.png" class="icon" alt="Twitter"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCQoDVKtoTDvDfQtV9oOeRdQ" target="_blank"><img src="/img/icons/youtube.png" class="icon" alt="YouTube"></a></li>
                    <li><a href="https://plus.google.com/107229023406895571808" target="_blank"><img src="/img/icons/google-plus.png" class="icon" alt="Google+"></a></li>
                    <li><a href="http://blog.myruntrip.com" target="_blank"><img src="/img/icons/wordpress.png" class="icon" alt="Blog"></a></li>
                </ul>
            </div>
            <div class="col-xs-6 column">
                <img class="pull-right logo" src="/img/myruntrip_100.jpg">
            </div>
        </div><!--/row-->
    </div>
</footer>
