<div ng-include="'partials/nav'"></div>

<div class="container-fluid body">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row-fluid">
                <div class="col-xs-12 search_bar">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control homesearch" ng-model="run_target" placeholder="Saisissez votre course...">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                    </div>
                    <div>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-stack-1x" ng-class="displayModeIcon"
                               ng-mouseenter="switchDisplayMode()" ng-mouseleave="switchDisplayMode()"
                                    ng-click="switchDisplay()"></i>
                        </span>
                    </div>
                </div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="journey in journeyList | runname:run_target" ng-show="displayMode=='list'">
                    <div class="block_inside">
                        <a href="/journey-{{journey.id}}">
                            <div id="map_canvas_{{journey.id}}" class="journey_map"></div>
                        </a>
                        <div class="block_title"><a href="/journey-{{journey.id}}">{{journey.Run.name | capitalize | limitTo:25}}</a></div>
                        <div class="block_desc">
                            <p><i class="glyphicon glyphicon-map-marker"></i> {{journey.address_start | capitalize | limitTo:21}}</p>
                            <p><i class="glyphicon glyphicon-sort"></i> {{journey.journey_type | capitalize}}</p>
                            <p><i class="glyphicon glyphicon-flag"></i> {{journey.startDate | date:'dd / MM / yyyy'}}</p>
                            <p><i class="glyphicon glyphicon-time"></i> {{journey.duration}}</p>
                            <p><i class="glyphicon glyphicon-road"></i> {{journey.distance}}</p>
                        </div>
    				</div>
				</div>
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="displayMode=='map'">
                    <div id="map_canvas_journeys" class="map"></div>
                </div>
			</div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>