<div ng-include="'partials/nav'"></div>
<div class="container body">
	<div class="modal fade bs-example-modal-lg" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Validation de la participation au voyage pour la course {{journey.run.name}}</h4>
				</div>
				<div class="row">
					<div class="modal-body">
						<div class="col-md-8 col-md-offset-2">
							<p>Vous allez participer au voyage au départ de {{journey.address_start}} pour la course {{journey.run.name}}
							se déroulant à {{journey.run.address_start}}.</p>
							<p>Combien de place souhaitez vous réserver :</p>
							<p>Pour l'aller <select ng-model="selectedPlaceOutward"
													ng-options="placeOutward.id as placeOutward.id for placeOutward in nbFreeSpaceListOutward">
											</select>
								place(s)</p>
							<p>Pour le retour <select ng-model="selectedPlaceReturn"
													  ng-options="placeReturn.id as placeReturn.id for placeReturn in nbFreeSpaceListReturn">
												</select>
								place(s)</p>
							<hr>
							<div class="col-md-12">
								<table class="table table-striped">
									<thead>
									<tr>
										<th>Course</th>
										<th>Départ</th>
										<th>Sens</th>
										<th>Montant</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-if="selectedPlaceOutward > 0">
										<th scope="row">{{journey.run.name}}</th>
										<td>{{journey.address_start}}</td>
										<td>Aller</td>
										<td>{{selectedPlaceOutward * journey.amount | currency:'€ '}}</td>
									</tr>
									<tr ng-if="selectedPlaceReturn > 0">
										<th scope="row">{{journey.run.name}}</th>
										<td>{{journey.address_start}}</td>
										<td>Retour</td>
										<td>{{selectedPlaceReturn * journey.amount | currency:'€ '}}</td>
									</tr>
									<tr ng-if="selectedPlaceOutward + selectedPlaceReturn > 0">
										<th scope="row">Frais de service</th>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>{{calculateFees() | currency:'€ '}}</td>
									</tr>
									</tbody>
									<tfoot>
									<tr>
										<th scope="row" colspan="3">TOTAL</th>
										<td>{{(selectedPlaceOutward + selectedPlaceReturn) * journey.amount + calculateFees() | currency:'€ ' }}</td>
									</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_xclick-auto-billing">
						<input type="hidden" name="business" value="adm@4ulabs.fr">
						<input type="hidden" name="currency_code" value="EUR">
						<input type="hidden" name="country" value="FR">
						<input type="hidden" name="item_name" value="Parcours My Run Trip">
						<input type="hidden" name="amount" value="{{(selectedPlaceOutward + selectedPlaceReturn ) * journey.amount + calculateFees()}}">
						<button type="submit" class="btn btn-primary btn-block" value="Procéder au paiement" ng-click="joinJourney()">Procéder au paiement</button>
					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="row spacehead">
        <div class="col-sm-12">
            <h2>Parcours pour la course {{journey.run.name}}</h2>
            <hr>
		</div>
        <div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<span class="pull-left"><strong>Départ de {{journey.address_start}}</strong></span>
					<div class="pull-right">{{journey.journey_type | capitalize}}</div>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						<p><i class="fa fa-arrows-h"></i> {{journey.distance}}</p>
						<p><i class="fa fa-history"></i> {{journey.duration}}</p>
						<p><i class="fa fa-car"></i> {{journey.car_type | capitalize}}</p>
					</div>
					<div class="col-sm-6 journey_price_journey">
						<div class="pull-right journey_price_journey">{{journey.amount | currency:'€ '}}</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<span class="pull-left"><strong>Aller</strong></span>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						<i class="glyphicon glyphicon-calendar"></i> {{journey.date_start_outward | date:'dd/MM/yyyy'}} {{journey.time_start_outward}}
					</div>
					<div class="col-sm-6">
						<span class="pull-right journey_space_positive">{{journey.nb_space_outward - reserved_outward}} place(s)</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<span class="pull-left"><strong>Retour</strong></span>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						<i class="glyphicon glyphicon-calendar"></i> {{journey.date_start_return | date:'dd/MM/yyyy'}} {{journey.time_start_return}}
					</div>
					<div class="col-sm-6">
						<span class="pull-right journey_space_positive">{{journey.nb_space_return - reserved_return}} place(s)</span>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<div ng-if="nbFreeSpace()">
					<button type="button" class="btn btn-primary" ng-if="!joined" ng-click="showJoinForm()">
							Participer à ce voyage
					</button>
				</div>
					<button type="button" class="btn btn-success" ng-if="joined" ng-click="removeJoinJourney()">
							Je participe à ce voyage
					</button>
			</div>
        </div>
        <div class="col-sm-5">
            <div id="map_canvas" class="map"></div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>