<div ng-include="'partials/nav'"></div>

<div class="container body">
    <div class="row spacehead">
		<div class="row">
			<div class="col-sm-6">
				<h2>Créer un parcours</h2>
				<hr>
			</div>
		</div>
		<div class="col-sm-6 spacedown">
			<form action="/api/journey" method="post" role="form">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<select ng-model="run_id" placeholder="Definir la course"
									name="journey[run_id_selector]" id="run_id_selector" class="form-control"  tabindex="1" 
									ng-change="selectDestination(run_id)"
                                    ng-options="run as run.name for run in runList">
									<option value="">-- Choisir une course --</option>
                            </select>
							<input type="hidden" name="journey[run_id]" value="{{run_id.id}}" >
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" ng-model="startSelected" placeholder="Lieu de départ"
								   typeahead="address for address in getLocation($viewValue)"
								   typeahead-loading="loadingLocations" name="journey[address_start]" id="address_start"
								   class="form-control"  tabindex="2" typeahead-on-select='selectSource($item)'>
							<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="journey[distance]" id="distance" class="form-control"
								   ng-model="distance" placeholder="Distance estimée" readonly>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="journey[duration]" id="duration" class="form-control"
								   ng-model="duration" placeholder="Temps estimé" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<select class="form-control" name="journey[journey_type_select]" id="journey_type_select"
								placeholder="Type de parcours" tabindex="3" ng-model="journey.journey_type" 
								ng-options="parcoursMode.code as parcoursMode.name for parcoursMode in parcoursModeList" 
								ng-change="journeyTypeChange()">
							</select>
						</div>
					</div>
					<input type="hidden" name="journey[journey_type]" id="journey_type" value="{{journey.journey_type}}" >
				</div>
				<p ng-if=outward>Aller</p>
				<div class="row outward" ng-if=outward>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="date" name="journey[date_start_outward]" id="date_start_outward"
								   class="form-control" placeholder="Date" tabindex="4">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="time" name="journey[time_start_outward]" id="time_start_outward" class="form-control"
								   placeholder="Heure" tabindex="5">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="number" name="journey[nb_space_outward]" id="nb_space_outward" class="form-control"
								   placeholder="Nombre de place" tabindex="6" min="0">
						</div>
					</div>
				</div>
				<p ng-if=return>Retour</p>
				<div class="row return" ng-if=return>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="date" name="journey[date_start_return]" id="date_start_return"
								   class="form-control" placeholder="Date" tabindex="7">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="time" name="journey[time_start_return]" id="time_start_return" class="form-control"
								   placeholder="Heure" tabindex="8">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="number" name="journey[nb_space_return]" id="nb_space_return" class="form-control"
								   placeholder="Nombre de place" tabindex="9" min="0">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<select class="form-control" name="journey[car_type]" id="car_type"
								placeholder="Type de course" tabindex="10">
								<option value="citadine">Citadine</option>
								<option value="berline">Berline</option>
								<option value="break">Break</option>
								<option value="monospace">Monospace</option>
								<option value="suv">4x4, SUV</option>
								<option value="coupe">Coupé</option>
								<option value="cabriolet">Cabriolet</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<div class="input-group">
								<input type="number" name="journey[amount]" id="amount" class="form-control"
									   ng-model="amount" placeholder="Montant par place" tabindex="11" min="0">
								<span class="input-group-addon">€</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-md-3 pull-right">
						<input type="hidden" name="journey[owner_id]" value="{{user.id}}">
						<input type="submit" value="Créer" class="btn btn-primary btn-block" tabindex="12">
					</div>
				</div>
			</form>
        </div>
		<div class="col-sm-5">
			<div id="map_canvas" class="map"></div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>