<div ng-include="'partials/nav'"></div>
<div class="container body">
    <div class="row spacehead">
        <div class="col-sm-12">
            <h2>Parcours pour la course <a href="/run-{{journey.Run.id}}">{{journey.Run.name}}</a></h2>
            <hr>
		</div>
        <div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<span class="pull-left"><strong>Départ de {{journey.address_start}}</strong></span>
					<div class="pull-right">{{journey.journey_type | capitalize}}</div>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						<table class="table table-no-border">
							<tr>
								<td><i class="fa fa-arrows-h"></i></td><td>{{journey.distance}}</td>
							</tr>
							<tr>
								<td><i class="fa fa-history"></i></td><td>{{journey.duration}}</td>
							</tr>
							<tr>
								<td><i class="fa fa-car"></i></td><td>{{journey.car_type | capitalize}}</td>
							</tr>
							<tr>
								<td><i class="fa fa-user"></i></td><td><a href="/user-{{journey.User.id}}">{{journey.User.firstname}} {{journey.User.lastname}}</a></td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6 journey_price_journey">
						<div class="pull-right journey_price_journey">{{journey.amount | currency:'€ '}}</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default" ng-if="journey.journey_type === 'aller-retour' || journey.journey_type === 'aller'">
				<div class="panel-heading clearfix">
					<span class="pull-left"><strong>Aller</strong></span>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						<i class="glyphicon glyphicon-calendar"></i> {{journey.date_start_outward | date:'dd/MM/yyyy'}} {{journey.time_start_outward}}
					</div>
					<div class="col-sm-6">
						<span class="pull-right journey_space_positive">{{journey.nb_space_outward - reserved_outward}} place(s)</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default" ng-if="journey.journey_type === 'aller-retour' || journey.journey_type === 'retour'">
				<div class="panel-heading clearfix">
					<span class="pull-left"><strong>Retour</strong></span>
				</div>
				<div class="panel-body">
					<div class="col-sm-6">
						<i class="glyphicon glyphicon-calendar"></i> {{journey.date_start_return | date:'dd/MM/yyyy'}} {{journey.time_start_return}}
					</div>
					<div class="col-sm-6">
						<span class="pull-right journey_space_positive">{{journey.nb_space_return - reserved_return}} place(s)</span>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<div ng-if="nbFreeSpace()">
					<button type="button" class="btn btn-primary" ng-if="!joined" ng-click="showJoinForm()">
							Participer à ce voyage
					</button>
				</div>
					<button type="button" class="btn btn-danger" ng-if="joined" ng-click="askValidation()">
							Je souhaite annuler ma participation
					</button>
			</div>
        </div>
        <div class="col-sm-5">
            <div id="map_canvas" class="map"></div>
        </div>
    </div>
	<div ng-include="'partials/modal_invoice'"></div>
	<div ng-include="'partials/modal_validation'"></div>
</div>
<div ng-include="'partials/footer'"></div>