<div class="modal fade" id="adminJourneyAction" tabindex="-1" role="dialog"
     aria-labelledby="adminJourneyActionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Parcours pour la course {{selectedJourney.Run.name}} - Actions</h4>
            </div>
            <div class="row">
                <div class="modal-body">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <span class="pull-left"><strong>Information sur le conducteur</strong></span>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <p class="pull-left"><i class="fa fa-envelope"></i> {{selectedJourney.User.email}}</p>
                                        <div class="clearfix"></div>
                                        <p ng-if="!selectedJourneyUserRIB" class="pull-left red"><i class="fa fa-credit-card"></i> RIB</p>
                                        <p ng-if="selectedJourneyUserRIB" class="pull-left green"><i class="fa fa-credit-card"></i> RIB</p>
                                        <div ng-if="selectedJourneyUserRIB">
                                            <div class="clearfix"></div>
                                            <p class="pull-left">
                                                <span><strong>Titulaire du compte : </strong></span>
                                                <span>{{selectedJourneyUserRIB.owner}}</span>
                                            </p>
                                            <p class="pull-left">
                                                <span><strong>Domiciliation (nom de l'agence) : </strong></span>
                                                <span>{{selectedJourneyUserRIB.agency_name}}</span>
                                            </p>
                                            <p class="pull-left">
                                                <span><strong>IBAN : </strong></span>
                                                <span>{{selectedJourneyUserRIB.IBAN}}</span>
                                            </p>
                                            <p class="pull-left">
                                                <span><strong>BIC (ou SWIFT) : </strong></span>
                                                <span>{{selectedJourneyUserRIB.BIC}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <span class="pull-left"><strong>Information sur les participations</strong></span>
                                </div>
                                <div class="panel-body">
                                    <table class="col-sm-12">
                                        <table class="table">
                                            <thead>
                                                <th>Utilisateur</th>
                                                <th>Montant</th>
                                                <th>Fees</th>
                                                <th>Statut</th>
                                                <th>Paiement</th>
                                                <th>Vadidation</th>
                                            </thead>
                                            <tbody ng-repeat="join in selectedJourneyJoins">
                                                <td>{{join.User.email}}</td>
                                                <td>{{join.Invoice.amount | currency:'€ '}}</td>
                                                <td>{{join.Invoice.fees | currency:'€ '}}</td>
                                                <td class="status-{{join.Invoice.status}}">{{join.Invoice.status}}</td>
                                                <td>{{join.Invoice.createdAt | date:'dd/MM/yyyy'}}</td>
                                                <td>
                                                    <span ng-if="join.Validation" class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
                                                    <span ng-if="!join.Validation" class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                                                </td>
                                            </tbody>
                                        </table>
                                    </table>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <span class="pull-left"><strong>Actions</strong></span>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <span>Payé : </span>
                                        <span ng-if="selectedJourney.is_payed" class="glyphicon glyphicon-ok green" aria-hidden="true" ng-click="journeyPayedToggle(selectedJourney.is_payed)"></span>
                                        <span ng-if="!selectedJourney.is_payed" class="glyphicon glyphicon-remove red" aria-hidden="true" ng-click="journeyPayedToggle(selectedJourney.is_payed)"></span>
                                    </div>
                                    <div class="col-sm-6 journey_price_journey">{{amountToPay | currency:'€ '}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="closeAdminJourney()">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>

