<div class="modal fade" id="modalInviteFriends" tabindex="-1" role="dialog" aria-labelledby="modalInviteFriendsLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Invitez vos amis à rejoindre notre communauté</h4>
			</div>
			<div class="row">
				<div class="modal-body">
					<div class="col-md-12">
						<h4>Message d'invitation</h4>
						<hr>
						<form name="inviteForm" ng-controller="RunnableSharedController" ng-submit="inviteFriends(invitForm)" novalidate>
							<div class="input-group invite_margin">
								<label class="control-label" for="inviteEmails">Adresses e-mail (séparées par des virgules)</label>
								<textarea class="form-control invite_email" ng-model="invitForm.inviteEmails" id="inviteEmails">
								</textarea>
							</div>
							<div class="input-group invite_margin">
								<label class="control-label invite_message_label" for="inviteMessage">Message</label>
								<textarea class="form-control invite_message" ng-model="invitForm.inviteMessage" id="inviteMessage">
								</textarea>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Inviter</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
