<div ng-include="'partials/nav'"></div>
<div class="container-fluid body">
    <div class="row-fluid my_journey">
        <div class="col-xs-12 col-sm-12 col-md-12 all_panel">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-users"></i> Voyages en tant que participant
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div ng-repeat="join in userJoin track by $index" class="box_journey">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="panel-title col-xs-11 col-sm-11 col-md-11">
                                            <strong>Votre voyage pour la course {{join.Journey.Run.name}}</strong>
                                            - <small><a href="/journey-{{join.Journey.id}}">voir le trajet</a></small>
                                        </div>
                                        <div class="col-xs-1 col-sm-1 col-md-1">
                                            <span class="glyphicon glyphicon-remove red pull-right" ng-click="askValidationJoinCancelFromMyJourney(join, $index)"></span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12 col-md-12 col-md-12 info_journey">
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="col-xs-3 col-sm-3 col-md-3"><strong>Départ :</strong></div>
                                                <div class="col-xs-9 col-sm-9 col-md-9">{{join.Journey.address_start}}</div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="col-xs-3 col-sm-3 col-md-3"><strong>Arrivée :</strong></div>
                                                <div class="col-xs-9 col-sm-9 col-md-9">{{join.Journey.Run.address_start}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 info_journey">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div ng-if="join.Journey.journey_type === 'aller-retour' || join.Journey.journey_type === 'aller'"
                                                     class="col-xs-12 col-sm-12 col-md-12">
                                                    <hr>
                                                    <div class="col-xs-12 col-sm-2 col-md-2"><span class="pull-left"><strong>Aller</strong></span></div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> {{join.Journey.date_start_outward | date:'dd/MM/yyyy'}}</div>
                                                    <div class="col-xs-12 col-sm-2 col-md-3"><i class="fa fa-clock-o"></i> {{join.Journey.time_start_outward}}</div>
                                                    <div class="col-xs-12 col-sm-4 col-md-3"><span class="remaining">{{join.nb_place_outward}} place(s) réservée(s)</span></div>
                                                </div>
                                                <div ng-if="join.Journey.journey_type === 'aller-retour' || join.Journey.journey_type === 'retour'"
                                                     class="col-xs-12 col-sm-12 col-md-12">
                                                    <hr>
                                                    <div class="col-xs-12 col-sm-2 col-md-2"><span class="pull-left"><strong>Retour</strong></span></div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> {{join.Journey.date_start_return | date:'dd/MM/yyyy'}}</div>
                                                    <div class="col-xs-12 col-sm-2 col-md-3"><i class="fa fa-clock-o"></i> {{join.Journey.time_start_return}}</div>
                                                    <div class="col-xs-12 col-sm-4 col-md-3"><span class="remaining">{{join.nb_place_return}} place(s) réservée(s)</span></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 visible-xs-block">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 info_journey">
                                            <div class="col-xs-12 col-sm-12 col-md-12 info_driver">
                                                <span>
                                                    <i class="fa fa-automobile"></i>
                                                    <a href="/user-{{join.Journey.User.id}}">{{join.Journey.User.firstname}} {{join.Journey.User.lastname}}</a>
                                                </span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 info_driver">
                                                <button class="btn btn-success" ng-click="redirectToPrivateDiscussion(join.Journey.id)">Discussion sur votre trajet</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 info_driver" ng-if="dateActual > join.Journey.date_max">
                                                <button ng-if="!join.validated" class="btn btn-success btn-sm" ng-click="showJourneyValidationModal(join)">Valider</button>
                                                <span ng-if="join.validated" class="green">Voyage validé</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-automobile"></i> Voyages en tant que conducteur
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div ng-repeat="journey in userJourney track by $index" class="box_journey">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <div class="panel-title col-xs-12 col-sm-9 col-md-9">
                                            <strong>Votre proposition de trajet pour la course {{journey.Run.name}}</strong>
                                            - <small><a href="/journey-{{journey.id}}">voir votre trajet</a></small>
                                        </div>
                                        <div class="panel-title col-xs-8 col-sm-2 col-md-2">
                                            {{journey.journey_type | capitalize}}
                                        </div>
                                        <div class="col-xs-4 col-sm-1 col-md-1">
                                            <span class="pull-right">
                                                <a href="/journey-update-{{journey.id}}"><i class="fa fa-pencil-square-o"></i></a>
                                                <span class="glyphicon glyphicon-remove red" ng-click="askValidationJourneyCancelFromMyJourney(journey, $index)"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12 col-md-12 col-md-12 info_journey">
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="col-xs-3 col-sm-3 col-md-3"><strong>Départ :</strong></div>
                                                <div class="col-xs-9 col-sm-9 col-md-9">{{journey.address_start}}</div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="col-xs-3 col-sm-3 col-md-3"><strong>Arrivée :</strong></div>
                                                <div class="col-xs-9 col-sm-9 col-md-9">{{journey.Run.address_start}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 info_journey">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div ng-if="journey.journey_type === 'aller-retour' || journey.journey_type === 'aller'"
                                                     class="col-xs-12 col-sm-12 col-md-12">
                                                    <hr>
                                                    <div class="col-xs-12 col-sm-2 col-md-2"><span class="pull-left"><strong>Aller</strong></span></div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> {{journey.date_start_outward | date:'dd/MM/yyyy'}}</div>
                                                    <div class="col-xs-12 col-sm-2 col-md-3"><i class="fa fa-clock-o"></i> {{journey.time_start_outward}}</div>
                                                    <div class="col-xs-12 col-sm-4 col-md-3"><span class="remaining">{{journey.nb_free_place_outward}} place(s) restante(s)</span></div>
                                                </div>
                                                <div ng-if="journey.journey_type === 'aller-retour' || journey.journey_type === 'retour'"
                                                     class="col-xs-12 col-sm-12 col-md-12">
                                                    <hr>
                                                    <div class="col-xs-12 col-sm-2 col-md-2"><span class="pull-left"><strong>Retour</strong></span></div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4"><i class="fa fa-calendar"></i> {{journey.date_start_return | date:'dd/MM/yyyy'}}</div>
                                                    <div class="col-xs-12 col-sm-2 col-md-3"><i class="fa fa-clock-o"></i> {{journey.time_start_return}}</div>
                                                    <div class="col-xs-12 col-sm-4 col-md-3"><span class="remaining">{{journey.nb_free_place_return}} place(s) restante(s)</span></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 visible-xs-block">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 info_journey">
                                            <div class="col-xs-12 col-sm-12 col-md-12 info_driver">
                                                <span>
                                                    <i class="fa fa-automobile"></i>
                                                    <a href="/user-{{journey.User.id}}">{{journey.User.firstname}} {{journey.User.lastname}}</a>
                                                </span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 info_driver">
                                                <button class="btn btn-success" ng-click="redirectToPrivateDiscussion(journey.id)">Discussion sur votre trajet</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/modal_journey'"></div>
    <div ng-include="'partials/modal_journey_validation'"></div>
    <div ng-include="'partials/modal_validation'"></div>
</div>
<div ng-include="'partials/footer'"></div>