<div ng-include="'partials/modal_login'"></div>
<div ng-include="'partials/modal_invite_friends'"></div>
<nav class="navbar navbar-default navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Run Trip</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#inscription">
                    <span ng-if="!isAuthenticated">Inscription</span>
                    <span ng-if="isAuthenticated">Accueil</span>
                </a></li>
                <li><a href="#itineraire">Itinéraires</a></li>
                <li><a href="#course">Courses</a></li>
                <li><a href="#fonctionnement">Fonctionnement</a></li>
                <li><a href="#apropos">A propos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button type="button" id="login" class="btn btn-primary btn-block btn-sm picthome" ng-if="!isAuthenticated" ng-click="showLogin()">Se connecter</button>
                <li ng-if="isAuthenticated"><a href="/myjourney" alt="Mes parcours"><i class="fa fa-road"></i></a></li>
                <li ng-if="isAuthenticated">
					<a href="/inbox"><i class="fa fa-inbox"></i> <span ng-if="userUnreadEmail>0" class="badge">{{userUnreadEmail}}</span></a>					
				</li>
                <li ng-if="isAuthenticated"><a href="/calendar"><i class="fa fa-calendar"></i></a></li>
                <li ng-if="isAuthenticated"><a href="/invoice"><i class="fa fa-credit-card"></i></a></li>
				<li ng-if="isAuthenticated"><a href="#" ng-click="inviteFriend()"><i class="fa fa-comments-o"></i></a></li>
                <li class="dropdown" ng-if="isAuthenticated">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a target="_self" href="/profile"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                        <li ng-if="isAuthorized([userRoles.admin, userRoles.editor])" role="presentation" class="divider"></li>
                        <li ng-if="isAuthorized([userRoles.admin, userRoles.editor])" ><a href="/run-create">Créer une course</a></li>
                        <li ng-if="isAuthorized(userRoles.admin)" ><a href="/admin">Admin</a></li>
                        <li ng-if="isAuthorized([userRoles.admin, userRoles.editor])" role="presentation" class="divider"></li>
                        <li><a target="_self" href="/logout"><span class="glyphicon glyphicon-off"></span> Déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="/js/index.js"></script>