<div ng-include="'partials/nav'"></div>

<div class="container body">
    <div class="row spacehead">
        <div class="col-sm-12">
            <tabset>
                <tab heading="Profil">
					<div class="col-sm-6">
						<div class="profile">
							<form name="passwordForm" ng-submit="updateUserInfo(currentUser)" novalidate>
								<div class="form-group">
									<label for="firstname">Prénom</label>
									<input type="text" class="form-control" id="firstname" placeholder="Prénom" ng-model="currentUser.firstname">
								</div>
								<div class="form-group">
									<label for="lastname">Nom</label>
									<input type="text" class="form-control" id="lastname" placeholder="Nom" ng-model="currentUser.lastname">
								</div>
								<div class="form-group">
									<label for="address">Adresse</label>
									<input type="text" class="form-control" id="address" placeholder="Adresse" ng-model="currentUser.address">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="currentUser.email">
								</div>
								<button type="submit" class="btn btn-primary">Modifier mes informations</button>
							</form>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="profile">
							<form name="updatePasswordForm" ng-submit="updatePassword(passwords)">
								<div class="form-group"
									ng-class="{ 'has-success' : updatePasswordForm.passwordOld.$valid && updatePasswordForm.passwordOld.$dirty, 
												'has-error' : updatePasswordForm.passwordOld.$invalid && updatePasswordForm.passwordOld.$dirty }">
									<label for="firstname">Ancien mot de passe</label>
									<input class="form-control" type="password" ng-model="passwords.old"
										   placeholder="Ancien mot de passe" name="passwordOld" required>
								</div>
								<div class="help-block text-danger"
									ng-if="updatePasswordForm.passwordOld.$dirty"
									ng-messages="updatePasswordForm.passwordOld.$error">
									<div ng-message="required">Password is required.</div>
								</div>
								<div class="form-group"
									ng-class="{ 'has-success' : updatePasswordForm.passwordNew.$valid && updatePasswordForm.passwordNew.$dirty, 
												'has-error' : updatePasswordForm.passwordNew.$invalid && updatePasswordForm.passwordNew.$dirty }">
									<label for="firstname">Nouveau mot de passe</label>
									<input class="form-control" type="password" ng-model="passwords.new"
										   name="passwordNew" placeholder="Nouveau mot de passe" required>
								</div>
								<div class="help-block text-danger"
									ng-if="updatePasswordForm.passwordNew.$dirty"
									ng-messages="updatePasswordForm.passwordNew.$error">
									<div ng-message="required">Password is required.</div>
								</div>
								<div class="form-group"
									ng-class="{ 'has-success' : updatePasswordForm.passwordNewConfirm.$valid && updatePasswordForm.passwordNewConfirm.$dirty, 
												'has-error' : updatePasswordForm.passwordNewConfirm.$invalid && updatePasswordForm.passwordNewConfirm.$dirty }">
									<label for="firstname">Confirmation du nouveau mot de passe</label>
									<input class="form-control" type="password" ng-model="passwords.newConfirm"
										name="passwordNewConfirm" placeholder="Confirmation du nouveau mot de passe" 
										repeat-password="passwordNew" required>
									<div class="help-block text-danger"
										ng-if="updatePasswordForm.passwordNewConfirm.$dirty"
										ng-messages="updatePasswordForm.passwordNewConfirm.$error">
										<div ng-message="required">You must confirm password.</div>
										<div ng-message="repeat">Passwords do not match.</div>
									</div>
								</div>
								<button type="submit" ng-disabled="updatePasswordForm.$invalid" class="btn btn-primary">Changer mon mot de passe</button>
							</form>
						</div>
					</div>
                </tab>
                <tab heading="Course">
                    <table class="col-sm-12 palmares">
                        <tbody ng-bind-html="itraRuns"></tbody>
                    </table>
                </tab>
				<tab heading="Vos itinéraire">
                    <table class="col-sm-12 journey">
						<table class="table myjourney">
							<tr>
								<th>Course</th>
								<th>Lieu de départ</th>
								<th>Nombre place proposé</th>
								<th>Nombre place disponible</th>
							</tr>
							<tbody ng-repeat="journey in userJourney">
								<tr>
									<td><a href="/run-{{journey.Run.id}}">{{journey.Run.name}}</a></td>
									<td><a href="/journey-{{journey.id}}">{{journey.address_start}}</a></td>
									<td>{{journey.nb_space}}</td>
									<td>{{journey.nb_free_space}}</td>
								</tr>
							</tbody>
						</table>
                    </table>
                </tab>
                <tab heading="Vos parcours">
                    <table class="col-sm-12 join">
						<table class="table myjoin">
							<tr>
								<th>Course</th>
								<th>Lieu de départ</th>
								<th>Date de départ</th>
								<th>Heure de départ</th>
								<th>Distance</th>
								<th>Durée</th>
							</tr>
							<tbody ng-repeat="join in userJoin">
								<tr>
									<td><a href="/run-{{join.Journey.Run.id}}">{{join.Journey.Run.name}}</a></td>
									<td><a href="/journey-{{join.Journey.id}}">{{join.Journey.address_start}}</a></td>
									<td>{{join.Journey.date_start}}</td>
									<td>{{join.Journey.time_start}}</td>
									<td>{{join.Journey.distance}}</td>
									<td>{{join.Journey.duration}}</td>
								</tr>
							</tbody>
						</table>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>
