<div ng-include="'partials/nav'"></div>

<div class="container body" ng-controller="RunnableRunDetailController">
    <div class="row spacehead">
		<div class="col-sm-5">
			<h2>{{run.name}}</h2>
		</div>
		<div class="col-sm-7">
			<div class="col-sm-4">
				<p><i class="glyphicon glyphicon-map-marker"></i> {{run.address_start | capitalize | limitTo:21}}</p>
				<p><i class="glyphicon glyphicon-calendar"></i> {{run.date_start | date:'dd / MM / yyyy'}}</p>
				<p><i class="glyphicon glyphicon-time"></i> {{run.time_start}}</p>
			</div>
			<div class="col-sm-4">
				<p><i class="glyphicon glyphicon-road"></i> {{run.type}}</p>
				<p><i class="glyphicon glyphicon-text-width"></i> {{run.distances}}</p>
				<p><i class="fa-area-chart"></i> {{run.elevations}}</p>
			</div>
			<div class="col-sm-4">
				<p>{{run.info}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<h3>Les parcours <a href="/journey-create"><i class="fa fa-plus-circle fa-fw"></i></a></h3>
			<div class="row">
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control homesearch" ng-model="journey_start" placeholder="Filter sur les points de départ">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
					</div>
				</div>
			</div>
			<div class="row">
				<table class="col-sm-12 join">
					<table class="table myjoin">
						<tr>
							<th>Lieu de départ</th>
							<th>Date de départ</th>
							<th>Heure de départ</th>
							<th>Distance</th>
							<th>Durée</th>
						</tr>
						<tbody ng-repeat="journey in journeyList | filter:journey_start as results">
							<tr>
								<td><a href="/journey-{{journey.id}}">{{journey.address_start}}</a></td>
								<td>{{journey.date_start}}</td>
								<td>{{journey.time_start}}</td>
								<td>{{journey.distance}}</td>
								<td>{{journey.duration}}</td>
							</tr>
						</tbody>
					</table>
				</table>
			</div>
		</div>
		<div class="col-sm-5">
			<tabset>
				<tab heading="Course">
					<div id="map_canvas_run" class="map"></div>
				</tab>
				<tab heading="Parcours">
					<div id="map_canvas_journey" class="map"></div>
				</tab>
			</tabset>
		</div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>
