<div ng-include="'partials/nav'"></div>

<div class="container body" ng-controller="RunnableRunCreateController">
    <div class="row spacehead">
		<div class="col-sm-6">
			<h2>Créer une course</h2>
			<hr>
			<form role="form" name="createRun" ng-submit="submitRun(newRun)">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="run[name]" id="name" class="form-control"
                                   ng-model="newRun.name" placeholder="Nom de la course" tabindex="1">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<select class="form-control" name="run[type]" id="type"
                                    ng-model="newRun.type" placeholder="Type de course" tabindex="2">
								<option value="trail">Trail</option>
								<option value="ultra">Ultra</option>
								<option value="10k">10k</option>
								<option value="20k">20k</option>
								<option value="semi">Semi</option>
								<option value="marathon">Marathon</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" ng-model="newRun.address_start" placeholder="Lieu de départ"
								   typeahead="address for address in getLocation($viewValue)"
								   typeahead-loading="loadingLocations" name="run[address_start]" id="address_start"
								   class="form-control"  tabindex="3" typeahead-on-select='selectedAddress($item, $model, $label)'>
							<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="calendar.open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
							</span>
                                <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}"
                                       ng-model="newRun.date_start" name="run[date_start]"
                                       is-open="calendar.opened" min-date="today"
                                       datepicker-options="calendar.dateOptions" close-text="Fermer"
                                       data-toggle="tooltip" data-placement="bottom"
                                       title="Date course" tabindex="4" required>
                            </div>
                        </div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="input-group clockpicker" id="clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control" id="time_start"
                                           name="run[time_start]" ng-model="newRun.time_start"
                                           placeholder="Heure" tabindex="5" required>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="run[distances]" id="distances" class="form-control"
                                   ng-model="newRun.distances" placeholder="Distance(s)" tabindex="6">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="run[elevations]" id="elevations" class="form-control"
                                   ng-model="newRun.elevations" placeholder="Dénivelé(s)" tabindex="7">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<textarea class="form-control" name="run[info]" id="info" 
								rows="3" placeholder="Informations" tabindex="8" ng-model="newRun.info"></textarea>
							<input type="hidden" name="run[owner_id]" value="{{user.id}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-md-3 pull-right">
						<input type="submit" value="Créer" class="btn btn-primary btn-block" tabindex="9">
					</div>
				</div>
			</form>
        </div>
		<div class="col-sm-5">
			<div id="map_canvas" class="map"></div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>