<div ng-include="'partials/nav'"></div>

<div class="container body" ng-controller="AppRun">
    <div class="row spacehead">
		<div class="col-sm-6">
			<h2>Créer une course</h2>
			<hr>
			<form action="/run" method="post" role="form">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="run[name]" id="name" class="form-control"
								   placeholder="Nom de la course" tabindex="1">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<select class="form-control" name="run[type]" id="type"
								placeholder="Type de course" tabindex="2">
								<option value="trail">Trail</option>
								<option value="ultra">Ultra</option>
								<option value="10k">10k</option>
								<option value="20k">20k</option>
								<option value="semi">Semi</option>
								<option value="marathon">Marathon</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" ng-model="asyncSelected" placeholder="Lieu de départ"
								   typeahead="address for address in getLocation($viewValue)"
								   typeahead-loading="loadingLocations" name="run[address_start]" id="address_start"
								   class="form-control"  tabindex="3" typeahead-on-select='selectedAddress($item, $model, $label)'>
							<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="date" name="run[date_start]" id="date_start"
								   class="form-control" placeholder="Date" tabindex="4">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="time" name="run[time_start]" id="time_start" class="form-control"
								   placeholder="Heure" tabindex="5">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="run[distances]" id="distances" class="form-control"
								   placeholder="Distance(s)" tabindex="6">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<input type="text" name="run[elevations]" id="elevations" class="form-control"
								   placeholder="Dénivelé(s)" tabindex="7">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<textarea class="form-control" name="run[info]" id="info" 
								rows="3" placeholder="Dénivelé(s)" tabindex="8">
							</textarea>
							<input type="hidden" name="run[owner_id]" value="{{user.id}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-md-3 pull-right">
						<input type="submit" value="Créer" class="btn btn-primary btn-block" tabindex="9">
					</div>
				</div>
			</form>
        </div>
		<div class="col-sm-5">
			<div id="map_canvas"></div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>