<div ng-include="'partials/nav'"></div>

<div class="container-fluid body">
    <div class="row-fluid inbox">
        <div class="col-xs-12 col-sm-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-search"></span>
					<input type="search" ng-model="query" placeholder="Recherche..." />
				</div>
				<div class="panel-body fixed-panel">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="message in inboxMessages | filter:query as results track by $index">
							<h4 class="list-group-item-heading" ng-click="showMessage(message, $index)">
								<span ng-if="!message.is_read"><strong>{{message.title}}</strong></span>
								<span ng-if="message.is_read">{{message.title}}</span>
							</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="panel panel-default" ng-if="!selectedMessage.id">
				<div class="panel-body">
					{{selectedMessage}}
				</div>
			</div>
			<div class="panel panel-default" ng-if="selectedMessage.id > 0">
				<div class="panel-heading">
					<strong>Reçu le : </strong>{{selectedMessage.createdAt | date:'dd/MM/yyyy h:mma'}}
					<div class="pull-right">
						<i class="fa fa-trash fa-lg" ng-click="removeMessage(inboxMessages, selectedIndex)" style="color:red"></i>
					</div>
				</div>
				<div class="panel-body fixed-panel">
					<h4><span ng-bind-html="selectedMessage.message"></span></h4>
				</div>
			</div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer'"></div>